.container {
  padding: 40px 20px;
  text-align: center;
  background-color: var(--background-color);
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible grid */
  gap: 20px; /* Spacing between cards */
  padding: 0 20px;
}

/* Responsive Design */
@media (width >= 600px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media (width >= 900px) {
  .projectsContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on desktops */
  }
}

@media (width >= 1200px) {
  .projectsContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }
}