/* .container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}






 */





 .container {
  padding: 40px 20px;
  text-align: center;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Dark Theme Adjustments */
[data-theme='dark'] .sectionTitle {
  color: #fff; /* White text in dark mode */
}